.row-fluid
  .span12.blank_block
.row-fluid
  .span2
  .span10
    .span2
    .span6
      = form_for @tweeter, url: save_admin_credentials_path, html: {class: 'well form-vertical'} do |f|
        .fieldset
          .row-fluid
            .span4
              = f.hidden_field :user_id
              .field
                = f.label 'Consumer Key'
                = f.text_field :consumer_key
              .field
                = f.label 'Consumer Secret'
                = f.text_field :consumer_secret
              .actions
                = f.submit 'Save and Logout', class: 'btn-info'

