= form_for @tweeter, url: save_admin_credentials_path do |f|

  = f.hidden_field :user_id
  .field
    = f.label 'Consumer Key'
    = f.text_field :consumer_key
  .field
    = f.label 'Consumer Secret'
    = f.text_field :consumer_secret
  .actions
    = f.submit 'Save', class: 'btn'

