.top_blank
- if current_user.tweeter.token?
  .row-fluid
    .span12
      = link_to 'Images!', 'javascript:', class: 'btn btn-warning', id: 'toggle_images'
  .row-fluid
    .span12.cribber_block
      .row-fluid
        - @tweets.home_timeline(count: 2).each do |tweet|
          .span6
            .row-fluid
              .span1
                = image_tag tweet['user']['profile_image_url']
              .span11.cribber_text
                = tweet["text"]

- else
  .top_blank
    = link_to 'Authorize Tweet account', @request_token.authorize_url, class: 'btn btn-info fl_right'

.top_blank
  %hr
  = @tweets.home_timeline[0]['retweet_count']
  %hr
  = @tweets.home_timeline.first.keys
  %hr
  = @tweets.home_timeline.first['user'].keys
  %hr
  = @tweets.home_timeline[2]
