- if current_user.tweeter.token?
  .hero-unit
    = link_to 'Images!', 'javascript:', class: 'btn btn-warning', id: 'toggle_images'
  .row-fluid
    .span12.cribber_block
      - ( tweets = current_user.tweets ).each_index do |i|
        - next if i.odd?
        .row-fluid
          - tweets[i..(i+1)].each do |tweet|
            .span6
              .row-fluid
                .span1
                  = image_tag tweet.user_img(:tiny)
                .span11.cribber_text
                  .row-fluid
                    %b
                      = tweet.user_name
                    %span{class: :grey_text}
                      = tweet.user_screen_name
                    - if tweet.is_retweeted?
                      %span{class: :grey_text}
                        %i{class: 'icon-retweet'}
                        = tweet.retweeter_screen_name
                  .row-fluid
                    = tweet.text

- else
  .hero-unit
    = link_to 'Authorize Tweet account', @request_token.authorize_url, class: 'btn btn-info fl_right'
