%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Twitter:
  = @user.twitter_id
%p
  %b Crypted password:
  = @user.crypted_password
%p
  %b Email:
  = @user.email

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
